body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 500px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-list img {
    display: block;
    width: auto;
    height: 25px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-list img:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

/* .skill-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 10px;
    padding: 0 35%;
    color: #fff;
    width: 30%;
} */