body {
    background-color: lightslategray;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
}

.project-card {
    background-color: rgba(69, 75, 163, 0.7);
    padding: 15px;
    border-radius: 12px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Mobil uyumlu tasarım */
@media (max-width: 1024px) {
    .projects-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolonlu düzen */
    }
}

@media (max-width: 768px) {
    .projects-list {
        grid-template-columns: 1fr;
        /* 1 kolonlu düzen */
    }

    .content {
        padding: 0 10px;
        /* Mobilde padding azaltma */
    }
}

@media (max-width: 480px) {
    .project-card {
        padding: 10px;
        /* Mobilde kartlardaki padding'i azaltma */
    }
}

/* Mobil uyumlu tasarım için medya sorguları */
@media (max-width: 768px) {
    .video-background {
        object-position: top;
        /* Daha küçük ekranlar için videonun üst kısmına odaklan */
    }
}

@media (max-width: 480px) {
    .video-background {
        height: auto;
        /* Yüksekliği otomatik yap */
        min-height: 100vh;
        /* Minimum yüksekliği ekran boyutuna eşitle */
    }
}